openapi: 3.0.3
info:
  title: Public HTTP API V2
  description: |
    WhiteBIT Public HTTP API V2 for market data and trading information.

    Base endpoint: https://whitebit.com

    All endpoints return time in Unix-time format.
    All endpoints return either a JSON object array.
    Use HTTP method GET for API requests.
    If an endpoint requires parameters, send them as query string.

    The API caches responses for a specified duration per endpoint.
  version: 2.0.0
servers:
  - url: https://whitebit.com
    description: WhiteBIT Global Server
  - url: https://whitebit.eu
    description: WhiteBIT EU Server

paths:
  /api/v2/public/markets:
    get:
      summary: Market Info
      description: |
        The endpoint retrieves all information about available [markets](/glossary#market).

        <Note>
        The API caches the response for: 1 second
        </Note>
      tags:
        - Public API V2
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Market pair name
                          example: SON_USD
                        stock:
                          type: string
                          description: Ticker of stock currency
                          example: SON
                        money:
                          type: string
                          description: Ticker of money currency
                          example: USD
                        stockPrec:
                          type: string
                          description: Stock currency precision
                          example: "3"
                        moneyPrec:
                          type: string
                          description: Precision of money currency
                          example: "2"
                        feePrec:
                          type: string
                          description: Fee precision
                          example: "4"
                        makerFee:
                          type: string
                          description: Default maker fee percent
                          example: "0.1"
                        takerFee:
                          type: string
                          description: Default taker fee percent
                          example: "0.1"
                        minAmount:
                          type: string
                          description: Minimal amount of stock to trade
                          example: "0.001"
                        minTotal:
                          type: string
                          description: Minimal amount of money to trade
                          example: "0.001"
                        tradesEnabled:
                          type: boolean
                          description: Is trading enabled
                          example: true
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

  /api/v2/public/ticker:
    get:
      summary: Market activity
      description: |
        The endpoint retrieves information on recent trading activity on all [markets](/glossary#market).

        <Note>
        The API caches the response for: 1 second
        </Note>
      tags:
        - Public API V2
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        lastUpdateTimestamp:
                          type: string
                          format: date-time
                          description: ISO 8601 time format of last update
                          example: "2020-07-10T13:37:27.000Z"
                        tradingPairs:
                          type: string
                          description: Name of market pair
                          example: ETH_BTC
                        lastPrice:
                          type: string
                          description: Last deal price
                          example: "0.026014"
                        lowestAsk:
                          type: string
                          description: Lowest ask price
                          example: "0.026027"
                        highestBid:
                          type: string
                          description: Highest bid price
                          example: "0.026001"
                        baseVolume24h:
                          type: string
                          description: Volume in stock currency
                          example: "13445.988"
                        quoteVolume24h:
                          type: string
                          description: Volume in money currency
                          example: "350.113082102"
                        tradesEnabled:
                          type: boolean
                          description: Is trading enabled on exchange
                          example: true
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

  /api/v2/public/trades/{market}:
    get:
      summary: Recent Trades
      description: |
        The endpoint retrieves the [trades](/glossary#trades) that have been executed recently on the requested [market](/glossary#market).

        <Note>
        The API caches the response for: 1 second
        </Note>
      tags:
        - Public API V2
      parameters:
        - name: market
          in: path
          required: true
          description: Market pair name
          schema:
            type: string
            example: BTC_USDT
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        tradeId:
                          type: integer
                          description: "A unique ID associated with the trade for the currency pair transaction Note: Unix timestamp does not qualify as trade_id."
                          example: 157257950
                        price:
                          type: string
                          description: Price
                          example: "9371.69"
                        volume:
                          type: string
                          description: Amount
                          example: "0.145642"
                        time:
                          type: string
                          format: date-time
                          description: Time
                          example: "2020-07-09T14:13:01.000Z"
                        isBuyerMaker:
                          type: boolean
                          description: "Sell order is taker: true, Buy order is taker: false"
                          example: true
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

  /api/v2/public/fee:
    get:
      summary: Fee
      description: |
        The endpoint retrieves the trading [fee](/glossary#fee).

        <Note>
        The API caches the response for: 1 second
        </Note>
      tags:
        - Public API V2
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: object
                    properties:
                      makerFee:
                        type: string
                        description: Default maker fee (percent of trading amount in money currency)
                        example: "0.1"
                      takerFee:
                        type: string
                        description: Default taker fee (percent of trading amount in money currency)
                        example: "0.1"
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

  /api/v2/public/assets:
    get:
      summary: Asset Status List
      description: |
        The endpoint retrieves the [assets](/glossary#assets) status.

        <Note>
        The API caches the response for: 1 second
        </Note>
      tags:
        - Public API V2
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Asset id
                          example: "4f37bc79-f612-4a63-9a81-d37f7f9ff622"
                        lastUpdateTimestamp:
                          type: string
                          format: date-time
                          description: ISO 8601 time format of last update
                          example: "2020-07-10T13:20:07.000Z"
                        name:
                          type: string
                          description: Name of currency
                          example: Bitcoin
                        canWithdraw:
                          type: boolean
                          description: Is currency withdrawable
                          example: true
                        canDeposit:
                          type: boolean
                          description: Is currency depositable
                          example: true
                        minWithdrawal:
                          type: string
                          description: Minimal amount to withdraw
                          example: "0.001"
                        maxWithdrawal:
                          type: string
                          description: Maximum amount to withdraw
                          example: "0"
                        makerFee:
                          type: string
                          description: Maker fee for currency
                          example: "0.1"
                        takerFee:
                          type: string
                          description: Taker fee for currency
                          example: "0.1"
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

  /api/v2/public/depth/{market}:
    get:
      summary: Orderbook
      description: |
        The endpoint retrieves the current [order book](/glossary/#order-book) as two arrays ([bids](/glossary/#bid) / [asks](/glossary/#ask)).

        <Note>
        The API caches the response for: 100 ms
        </Note>
      tags:
        - Public API V2
      parameters:
        - name: market
          in: path
          required: true
          description: Market pair name
          schema:
            type: string
            example: BTC_USDT
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    nullable: true
                    example: null
                  result:
                    type: object
                    properties:
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
                        description: Timestamp of last update
                        example: "2020-07-09T14:49:12.000Z"
                      asks:
                        type: array
                        description: Array of ask orders
                        items:
                          type: array
                          items:
                            type: string
                          minItems: 2
                          maxItems: 2
                          example: ["9431.9", "0.705088"]
                          description: "[Price, Amount]"
                      bids:
                        type: array
                        description: Array of bid orders
                        items:
                          type: array
                          items:
                            type: string
                          minItems: 2
                          maxItems: 2
                          example: ["9427.65", "0.547909"]
                          description: "[Price, Amount]"
        'default':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'

components:
  schemas:
    ErrorV2:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Error message
          example: ERROR MESSAGE
        params:
          type: array
          items:
            type: string
          example: []

tags:
  - name: Public API V2
    description: Public endpoints for market data and trading information