openapi: 3.0.3
info:
  title: Private HTTP API V4 - Collateral Trading
  description: |
    WhiteBIT Private HTTP API V4 for collateral/margin trading operations.
    
    Base URL: https://whitebit.com
    
    All endpoints return time in Unix-time format.
    All endpoints return either a JSON object or array.
    For receiving responses from API calls please use http method POST.
    
    Authentication required for all endpoints.
  version: 4.0.0
  license:
    name: WhiteBIT Terms of Service
    url: https://whitebit.com/terms
servers:
  - url: https://whitebit.com
    description: WhiteBIT Global Server
  - url: https://whitebit.eu
    description: WhiteBIT EU Server

security:
  - ApiKeyAuth: []
    PayloadAuth: []
    SignatureAuth: []

paths:
  /api/v4/collateral-account/balance:
    post:
      summary: Collateral Account Balance
      operationId: collateralAccountBalance
      description: |
        The endpoint returns the current [collateral balance](/glossary#balance-collateral) for one or all assets. The response maps each asset ticker to its collateral balance amount. Use the optional `ticker` parameter to filter results to a single asset.

        <Note>
        The API does not cache the response.
        </Note>
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
        
        <Accordion title="Errors">
        ```json
        {
          "code": 30,
          "message": "Validation failed",
          "errors": {
            "ticker": ["ticker is invalid."]
          }
        }
        ```
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticker:
                  type: string
                  description: |
                    [Asset](/glossary#assets) to be filtered. For example: BTC
                    
                    If not specified, returns balances for all assets.
                  example: BTC
                request:
                  type: string
                  description: Request signature
                  example: "{{request}}"
                nonce:
                  type: string
                  description: Unique request identifier
                  example: "{{nonce}}"
            example:
              ticker: BTC
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns collateral balances by asset
          content:
            application/json:
              schema:
                type: object
                description: "Object mapping asset tickers to collateral balance amounts. Each key is an asset ticker (e.g., `BTC`, `USDT`) and the value is the balance in that asset's native units."
                additionalProperties:
                  type: number
                  description: "Collateral balance in the asset's native units"
              example:
                BTC: 1
                USDT: 1000
                ETH: 5.5
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/balance-summary:
    post:
      summary: Collateral Account Balance Summary
      operationId: collateralAccountBalanceSummary
      description: |
        The endpoint returns a detailed [collateral balance](/glossary#balance-collateral) summary with a per-asset breakdown. Each record includes the current balance, borrowed amount, and available balance with and without borrowing capacity. Use the optional `ticker` parameter to filter results to a single asset.

        <Note>
        The API does not cache the response.
        </Note>
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
        
        <Accordion title="Errors">
        ```json
        {
          "code": 30,
          "message": "Validation failed",
          "errors": {
            "ticker": ["ticker is invalid."]
          }
        }
        ```
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticker:
                  type: string
                  description: |
                    Filter by requested asset. For example: BTC
                    
                    If not specified, returns summary for all assets.
                  example: BTC
                request:
                  type: string
                  description: Request signature
                  example: "{{request}}"
                nonce:
                  type: string
                  description: Unique request identifier
                  example: "{{nonce}}"
            example:
              ticker: BTC
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns detailed balance information per asset
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    asset:
                      type: string
                      description: Asset ticker symbol
                      example: BTC
                    balance:
                      type: string
                      description: "Total collateral balance for the asset, in the asset's native units"
                      example: "0.5"
                    borrow:
                      type: string
                      description: "Amount currently borrowed against the asset, in the asset's native units"
                      example: "0"
                    availableWithoutBorrow:
                      type: string
                      description: "Balance available for use without additional borrowing, in the asset's native units"
                      example: "0.5"
                    availableWithBorrow:
                      type: string
                      description: "Maximum balance available when borrowing capacity is included, in the asset's native units"
                      example: "123.456"
              example:
                - asset: "BTC"
                  balance: "0.5"
                  borrow: "0"
                  availableWithoutBorrow: "0.5"
                  availableWithBorrow: "123.456"
                - asset: "USDT"
                  balance: "1000"
                  borrow: "0"
                  availableWithoutBorrow: "1000"
                  availableWithBorrow: "5000"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/limit:
    post:
      summary: Collateral Limit Order
      operationId: createCollateralLimitOrder
      description: |
        The endpoint creates a [limit order](/glossary#limit-order) using [collateral balance](/glossary#balance-collateral). The order executes at the specified price or better. Use `buy` to open or increase a long position and `sell` to open or increase a short position. To close a position, place an opposite-side order matching the position amount.

        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
        
        <Note>
        For open long position use **buy**, for short **sell**. To close current position, place opposite order with current position amount.
        </Note>

        <Note>
          - RPI orders are post-only by design and cannot be used with the IOC flag. The API returns error code `37` when both `rpi=true` and `ioc=true` are used.
        </Note>
        
        
        <Accordion title="Error Codes">
          - `30` - default validation error code
          - `31` - market validation failed
          - `32` - amount validation failed
          - `33` - price validation failed
          - `36` - client_order_id validation failed
          - `37` - `ioc=true` cannot be used with `postOnly=true` or `rpi=true`
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - price
                - request
                - nonce
              properties:
                market:
                  type: string
                  description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                  example: "BTC_USDT"
                side:
                  type: string
                  enum: [buy, sell]
                  description: "Order type. Variables: 'buy' / 'sell'. For open long position use **buy**, for short **sell**."
                  example: "buy"
                amount:
                  type: string
                  description: "Amount of [stock](/glossary#stock) currency to buy or sell. Minimum and step values are market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                  example: "0.01"
                price:
                  type: string
                  description: "Limit order price in [money](/glossary#money) currency. Minimum price step is market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                  example: "40000"
                client_order_id:
                  type: string
                  description: "Custom order identifier. Must be unique and contain only letters, numbers, dashes, dots, or underscores."
                  example: "order1987111"
                stopLoss:
                  type: string
                  description: |
                    Stop loss price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                  example: "50000"
                takeProfit:
                  type: string
                  description: |
                    Take profit price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                  example: "30000"
                postOnly:
                  type: boolean
                  default: false
                  description: "When `true`, guarantees the order executes as a [maker](/glossary#maker) order. The system rejects the order if it would immediately match as taker. Default: `false`."
                  example: false
                ioc:
                  type: boolean
                  default: false
                  description: "When `true`, the order executes all or part immediately and cancels any unfilled portion. Cannot be combined with `postOnly=true` or `rpi=true`."
                  example: false
                rpi:
                  type: boolean
                  default: false
                  description: |
                    Enables Retail Price Improvement (RPI) mode.

                    RPI orders are post-only by design and cannot be used with `ioc=true`. The API returns error code `37` when both `rpi=true` and `ioc=true` are used.
                  example: true
                positionSide:
                  type: string
                  enum: [LONG, SHORT, BOTH]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                  example: "LONG"
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              side: buy
              amount: "0.01"
              price: "40000"
              postOnly: false
              ioc: false
              client_order_id: order1987111
              stopLoss: "50000"
              takeProfit: "30000"
              positionSide: LONG
              rpi: true
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  client_order_id:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "buy"
                  type:
                    type: string
                    description: Order type
                    example: "limit"
                  timestamp:
                    type: number
                    description: "Unix timestamp in seconds (UTC) of order creation, with microsecond precision."
                    example: 1595792396.165973
                  deal_money:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  deal_stock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.01"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  deal_fee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  price:
                    type: string
                    description: Order price
                    example: "40000"
                  postOnly:
                    type: boolean
                    description: Post-only flag
                    example: false
                  ioc:
                    type: boolean
                    description: Immediate or cancel flag
                    example: false
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "30000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "50000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
                  rpi:
                    type: boolean
                    description: Retail Price Improvement flag
                    example: true
              example:
                order_id: 4180284841
                client_order_id: "order1987111"
                market: "BTC_USDT"
                side: "buy"
                type: "limit"
                timestamp: 1595792396.165973
                deal_money: "0"
                deal_stock: "0"
                amount: "0.01"
                left: "0.001"
                deal_fee: "0"
                price: "40000"
                postOnly: false
                ioc: false
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "30000"
                  takeProfit: "50000"
                positionSide: "LONG"
                rpi: true
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/bulk:
    post:
      summary: Collateral bulk limit order
      operationId: createCollateralBulkOrder
      description: |
        The endpoint creates multiple collateral [limit orders](/glossary#limit-order) in a single request. Each order in the `orders` array is validated and processed individually. The `stopOnFail` parameter controls whether processing stops at the first failure or continues through all orders. The response array contains a result or error object for each submitted order, in the same order as the request.

        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  items:
                    type: object
                    properties:
                      market:
                        type: string
                        description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                        example: "BTC_PERP"
                      side:
                        type: string
                        enum: [buy, sell]
                        description: "Order type. Variables: 'buy' / 'sell'."
                        example: "buy"
                      amount:
                        type: string
                        description: "Amount of [stock](/glossary#stock) currency to buy or sell. Minimum and step values are market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                        example: "0.02"
                      price:
                        type: string
                        description: "Limit order price in [money](/glossary#money) currency. Minimum price step is market-dependent."
                        example: "40000"
                      client_order_id:
                        type: string
                        description: "Identifier must be unique and contain letters, numbers, dashes, dots, or underscores."
                        example: ""
                      stopLoss:
                        type: string
                        description: |
                          Stop loss price.

                          When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                        example: "50000"
                      takeProfit:
                        type: string
                        description: |
                          Take profit price.

                          When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                        example: "30000"
                      postOnly:
                        type: boolean
                        default: false
                        description: "Ensures the order adds liquidity and executes as maker. Default: `false`."
                        example: false
                      ioc:
                        type: boolean
                        default: false
                        description: |
                          Immediate-or-cancel (IOC) executes all or part of an order immediately and cancels any unfilled portion. Default: `false`.

                          IOC does not support `rpi=true` because RPI uses post-only behavior by design.
                          The API returns error code `37` when an order item sets both `ioc=true` and `rpi=true`.
                        example: false
                      rpi:
                        type: boolean
                        default: false
                        description: |
                          Enables Retail Price Improvement (RPI) mode. Default: `false`.

                          RPI orders use post-only behavior by design. An RPI order does not support `ioc=true`.
                          The API returns error code `37` when an order item sets both `rpi=true` and `ioc=true`.
                        example: true
                      positionSide:
                        type: string
                        enum: [LONG, SHORT, BOTH]
                        description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                        example: "LONG"
                stopOnFail:
                  type: boolean
                  default: false
                  description: |
                    Controls how the bulk order processor handles failures.

                    When true: Processing stops at the first order that fails validation or execution. Only orders up to (but not including) the failed order are processed.

                    When false (default): All orders in the bulk request are processed regardless of individual failures. Each order result is returned in the response array.
                  example: true
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              orders:
                - side: buy
                  amount: "0.02"
                  price: "40000"
                  market: BTC_PERP
                  postOnly: false
                  ioc: false
                  client_order_id: ""
                  positionSide: LONG
                  rpi: true
                - side: sell
                  amount: "0.0001"
                  price: "41000"
                  market: BTC_USDT
                  postOnly: false
                  ioc: false
                  client_order_id: ""
                  positionSide: LONG
                  rpi: true
                - side: sell
                  amount: "0.02"
                  price: "0.030"
                  market: ETH_BTC
                  postOnly: false
                  ioc: false
                  client_order_id: ""
                  positionSide: LONG
                  rpi: true
              stopOnFail: true
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns array of order results
          content:
            application/json:
              schema:
                type: array
                description: Array of order creation results. Each item contains either a successful result or an error.
                items:
                  type: object
                  properties:
                    result:
                      type: object
                      nullable: true
                      description: Order data when successful, null when failed
                      properties:
                        order_id:
                          type: integer
                          description: Unique order identifier
                          example: 4326248250
                        client_order_id:
                          type: string
                          description: Custom client order identifier. Empty string if not specified
                          example: ""
                        market:
                          type: string
                          description: Market name
                          example: "BTC_USDT"
                        side:
                          type: string
                          description: Order side
                          enum: [buy, sell]
                          example: "buy"
                        type:
                          type: string
                          description: Order type
                          example: "limit"
                        timestamp:
                          type: number
                          description: "Unix timestamp in seconds (UTC) of order creation, with microsecond precision."
                          example: 1684916268.825564
                        deal_money:
                          type: string
                          description: Amount in money currency that is finished
                          example: "641.988"
                        deal_stock:
                          type: string
                          description: Amount in stock currency that is finished
                          example: "0.02"
                        amount:
                          type: string
                          description: Order amount
                          example: "0.02"
                        left:
                          type: string
                          description: Remaining amount that must be finished
                          example: "0"
                        deal_fee:
                          type: string
                          description: Fee in money that is paid when order is finished
                          example: "1.283976"
                        price:
                          type: string
                          description: Order price
                          example: "40000"
                        postOnly:
                          type: boolean
                          description: Post-only flag
                          example: false
                        ioc:
                          type: boolean
                          description: Immediate or cancel flag
                          example: false
                        status:
                          type: string
                          description: Order status
                          enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                          example: "FILLED"
                        stp:
                          type: string
                          description: Self trade prevention mode
                          example: "no"
                        positionSide:
                          type: string
                          description: Position side
                          enum: [LONG, SHORT, BOTH]
                          example: "LONG"
                        rpi:
                          type: boolean
                          description: Retail Price Improvement flag
                          example: true
                    error:
                      type: object
                      nullable: true
                      description: Error details when order creation failed, null when successful
                      properties:
                        code:
                          type: integer
                          description: Error code
                          example: 32
                        message:
                          type: string
                          description: Error message
                          example: "Validation failed"
                        errors:
                          type: object
                          description: Detailed validation errors
                          additionalProperties:
                            type: array
                            items:
                              type: string
                          example:
                            amount: ["Given amount is less than min amount 0.001."]
              example:
                - result:
                    order_id: 4326248250
                    client_order_id: ""
                    market: "BTC_USDT"
                    side: "buy"
                    type: "limit"
                    timestamp: 1684916268.825564
                    deal_money: "641.988"
                    deal_stock: "0.02"
                    amount: "0.02"
                    left: "0"
                    deal_fee: "1.283976"
                    ioc: false
                    postOnly: false
                    price: "40000"
                    status: "FILLED"
                    stp: "no"
                    positionSide: "LONG"
                    rpi: true
                  error: null
                - result: null
                  error:
                    code: 32
                    message: "Validation failed"
                    errors:
                      amount: ["Given amount is less than min amount 0.001."]
                - result:
                    order_id: 4326248250
                    client_order_id: ""
                    market: "BTC_USDT"
                    side: "sell"
                    type: "limit"
                    timestamp: 1684916268.825564
                    deal_money: "641.988"
                    deal_stock: "0.02"
                    amount: "0.02"
                    left: "0"
                    deal_fee: "1.283976"
                    ioc: false
                    postOnly: false
                    price: "41000"
                    status: "FILLED"
                    stp: "no"
                    positionSide: "LONG"
                    rpi: true
                  error: null
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/market:
    post:
      summary: Collateral Market Order
      operationId: createCollateralMarketOrder
      description: |
        The endpoint creates a [market order](/glossary#market-order) using [collateral balance](/glossary#balance-collateral). The order executes immediately at the best available market price. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the market order fills.

        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - request
                - nonce
              properties:
                market:
                  type: string
                  description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                  example: "BTC_USDT"
                side:
                  type: string
                  enum: [buy, sell]
                  description: "Order direction. Use `buy` to open or increase a long position and `sell` to open or increase a short position."
                  example: "buy"
                amount:
                  type: string
                  description: "Amount of [stock](/glossary#stock) currency to buy or sell. Minimum and step values are market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                  example: "0.01"
                client_order_id:
                  type: string
                  description: "Custom order identifier. Must be unique and contain only letters, numbers, dashes, dots, or underscores."
                  example: "order1987111"
                stopLoss:
                  type: string
                  description: |
                    Stop loss price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                  example: "50000"
                takeProfit:
                  type: string
                  description: |
                    Take profit price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                  example: "40000"
                positionSide:
                  type: string
                  enum: [LONG, SHORT, BOTH]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                  example: "LONG"
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              side: buy
              amount: "0.01"
              client_order_id: order1987111
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - market order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  client_order_id:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "sell"
                  type:
                    type: string
                    description: Order type
                    example: "market"
                  timestamp:
                    type: number
                    description: "Unix timestamp in seconds (UTC) of order creation, with microsecond precision."
                    example: 1595792396.165973
                  deal_money:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  deal_stock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  deal_fee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "50000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "40000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                order_id: 4180284841
                client_order_id: "order1987111"
                market: "BTC_USDT"
                side: "sell"
                type: "market"
                timestamp: 1595792396.165973
                deal_money: "0"
                deal_stock: "0"
                amount: "0.001"
                left: "0.001"
                deal_fee: "0"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "50000"
                  takeProfit: "40000"
                positionSide: "LONG"
        '422':
          description: Internal validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/stop-limit:
    post:
      summary: Collateral Stop-Limit Order
      operationId: createCollateralStopLimitOrder
      description: |
        The endpoint creates a collateral [stop-limit order](/glossary#stop-limit-order) using [collateral balance](/glossary#balance-collateral). The order remains inactive until the market price reaches `activation_price`, then places a limit order at `price`. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the stop-limit order fills.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - price
                - activation_price
                - request
                - nonce
              properties:
                market:
                  type: string
                  description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                  example: "BTC_USDT"
                side:
                  type: string
                  enum: [buy, sell]
                  description: "Order direction. Use `buy` to open or increase a long position and `sell` to open or increase a short position."
                  example: "buy"
                amount:
                  type: string
                  description: "Amount of [stock](/glossary#stock) currency to buy or sell. Minimum and step values are market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                  example: "0.001"
                price:
                  type: string
                  description: "Limit order price in [money](/glossary#money) currency. The order executes at the specified price or better after activation."
                  example: "40000"
                activation_price:
                  type: string
                  description: "Trigger price in [money](/glossary#money) currency. The stop-limit order activates when the market price reaches the specified value."
                  example: "40000"
                stopLoss:
                  type: string
                  description: |
                    Stop loss price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                  example: "30000"
                takeProfit:
                  type: string
                  description: |
                    Take profit price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                  example: "50000"
                client_order_id:
                  type: string
                  description: "Custom order identifier. Must be unique and contain only letters, numbers, dashes, dots, or underscores."
                  example: "order1987111"
                positionSide:
                  type: string
                  enum: [LONG, SHORT, BOTH]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                  example: "LONG"
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              side: buy
              amount: "0.001"
              price: "40000"
              activation_price: "40000"
              stopLoss: "30000"
              takeProfit: "50000"
              client_order_id: order1987111
              positionSide: LONG
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - stop-limit order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  client_order_id:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "buy"
                  type:
                    type: string
                    description: Order type
                    example: "stop limit"
                  timestamp:
                    type: number
                    description: "Unix timestamp in seconds (UTC) of order creation, with microsecond precision."
                    example: 1595792396.165973
                  deal_money:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  deal_stock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  deal_fee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  price:
                    type: string
                    description: Order price
                    example: "40000"
                  activation_price:
                    type: string
                    description: Price at which the stop-limit order activates
                    example: "40000"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "30000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "50000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                order_id: 4180284841
                client_order_id: "order1987111"
                market: "BTC_USDT"
                side: "buy"
                type: "stop limit"
                timestamp: 1595792396.165973
                deal_money: "0"
                deal_stock: "0"
                amount: "0.001"
                left: "0.001"
                deal_fee: "0"
                price: "40000"
                activation_price: "40000"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "30000"
                  takeProfit: "50000"
                positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/trigger-market:
    post:
      summary: Collateral Trigger Market Order
      operationId: createCollateralTriggerMarketOrder
      description: |
        The endpoint creates a collateral trigger [market order](/glossary#market-order) using [collateral balance](/glossary#balance-collateral). The order remains inactive until the market price reaches `activation_price`, then executes immediately at the best available market price. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the trigger market order fills.

        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - activation_price
                - request
                - nonce
              properties:
                market:
                  type: string
                  description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                  example: "BTC_USDT"
                side:
                  type: string
                  enum: [buy, sell]
                  description: "Order direction. Use `buy` to open or increase a long position and `sell` to open or increase a short position."
                  example: "buy"
                amount:
                  type: string
                  description: "Amount of [stock](/glossary#stock) currency to buy or sell. Minimum and step values are market-dependent — query the [market info](/api-reference/market-data/market-info) endpoint for constraints."
                  example: "0.01"
                activation_price:
                  type: string
                  description: "Trigger price in [money](/glossary#money) currency. The trigger market order activates when the market price reaches the specified value."
                  example: "40000"
                client_order_id:
                  type: string
                  description: "Custom order identifier. Must be unique and contain only letters, numbers, dashes, dots, or underscores."
                  example: "order1987111"
                stopLoss:
                  type: string
                  description: |
                    Stop loss price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                  example: "50000"
                takeProfit:
                  type: string
                  description: |
                    Take profit price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                  example: "30000"
                positionSide:
                  type: string
                  enum: [LONG, SHORT, BOTH]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                  example: "LONG"
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              side: buy
              amount: "0.01"
              activation_price: "40000"
              client_order_id: order1987111
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - trigger market order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  client_order_id:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "sell"
                  type:
                    type: string
                    description: Order type
                    example: "stop market"
                  timestamp:
                    type: number
                    description: "Unix timestamp in seconds (UTC) of order creation, with microsecond precision."
                    example: 1595792396.165973
                  deal_money:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  deal_stock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  deal_fee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  activation_price:
                    type: string
                    description: Price at which the stop market order activates
                    example: "40000"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "50000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "30000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                order_id: 4180284841
                client_order_id: "order1987111"
                market: "BTC_USDT"
                side: "sell"
                type: "stop market"
                timestamp: 1595792396.165973
                deal_money: "0"
                deal_stock: "0"
                amount: "0.001"
                left: "0.001"
                deal_fee: "0"
                activation_price: "40000"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "50000"
                  takeProfit: "30000"
                positionSide: "LONG"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/summary:
    post:
      summary: Collateral Account Summary
      operationId: collateralAccountSummary
      description: |
        The endpoint returns a collateral account summary including total equity, used margin, free margin, unrealized profit and loss, and the current leverage level. The `marginFraction` field indicates the ratio of used margin to total equity.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns collateral account summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  equity:
                    type: string
                    description: Total equity value of the collateral account
                    example: "15000.50"
                  margin:
                    type: string
                    description: Total margin used
                    example: "5000.00"
                  freeMargin:
                    type: string
                    description: Available margin for trading
                    example: "10000.50"
                  unrealizedFunding:
                    type: string
                    description: Unrealized funding payments
                    example: "25.75"
                  pnl:
                    type: string
                    description: Unrealized profit and loss
                    example: "150.25"
                  leverage:
                    type: integer
                    description: Current leverage level
                    example: 3
                  marginFraction:
                    type: string
                    description: Margin fraction ratio (margin / equity)
                    example: "0.3333"
              example:
                equity: "15000.50"
                margin: "5000.00"
                freeMargin: "10000.50"
                unrealizedFunding: "25.75"
                pnl: "150.25"
                leverage: 3
                marginFraction: "0.3333"
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/positions/open:
    post:
      summary: Open Positions
      operationId: getOpenPositions
      description: |
        The endpoint returns all open [collateral](/glossary#balance-collateral) positions for the authenticated account. Each position includes entry price, unrealized PnL, margin allocation, liquidation price, and take-profit/stop-loss configuration. Use the optional `market` parameter to filter results to a single trading pair.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. For example: BTC_USDT

                    If not specified, returns all open positions.
                  example: BTC_USDT
                request:
                  type: string
                  description: Request signature
                  example: "{{request}}"
                nonce:
                  type: string
                  description: Unique request identifier
                  example: "{{nonce}}"
            example:
              market: "BTC_USDT"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns array of open positions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    positionId:
                      type: integer
                      description: Unique position identifier
                      example: 527
                    market:
                      type: string
                      description: Market name
                      example: "BTC_USDT"
                    amount:
                      type: string
                      description: Position amount
                      example: "0.1"
                    basePrice:
                      type: string
                      description: Base price of position
                      example: "45658.349"
                    pnl:
                      type: string
                      description: "Realized profit and loss accumulated from partial position
                        closes, in money currency. Zero for newly opened positions that have not
                        been partially closed."
                      example: "-168.42"
                    pnlPercent:
                      type: string
                      description: Unrealized profit and loss in percentage
                      example: "-0.43"
                    margin:
                      type: string
                      description: Amount of funds in open position money
                      example: "8316.74"
                    freeMargin:
                      type: string
                      description: Free funds for trading
                      example: "619385.67"
                    funding:
                      type: string
                      description: "Cumulative funding fees paid over the entire lifetime of
                        the position, in money currency. For futures markets (e.g., BTC_PERP
                        and other _PERP pairs), the value is always \"0\" — futures funding is
                        applied via periodic balance updates rather than being tracked per position."
                      example: "0"
                    unrealizedPnl:
                      type: string
                      description: "Floating (mark-to-market) unrealized profit and loss in
                        money currency. Updates continuously as the market price changes."
                      example: "0.0019142920201966"
                    positionSide:
                      type: string
                      description: Position side
                      enum: [LONG, SHORT, BOTH]
                      example: "LONG"
                    openDate:
                      type: number
                      description: Date of position opening in Unix timestamp format
                      example: 1651568067.789679
                    modifyDate:
                      type: number
                      description: Date of position modifying (current event) in Unix timestamp format
                      example: 1651568067.789679
                    liquidationPrice:
                      type: string
                      description: Liquidation price according to current state of position
                      nullable: true
                      example: null
                    liquidationState:
                      type: string
                      description: State of liquidation
                      enum: [margin_call, liquidation]
                      nullable: true
                      example: null
                    tpsl:
                      type: object
                      description: Take profit and stop loss configuration
                      nullable: true
                      properties:
                        takeProfitId:
                          type: integer
                          description: Take profit order ID
                          example: 123
                        takeProfit:
                          type: string
                          description: Take profit price
                          example: "50000"
                        stopLossId:
                          type: integer
                          description: Stop loss order ID
                          example: 124
                        stopLoss:
                          type: string
                          description: Stop loss price
                          example: "35000"
                    unrealizedFunding:
                      type: string
                      description: "Funding fees accrued since the last position state change
                        and not yet realized. For margin positions, the value accumulates
                        continuously and is settled into the funding field when the position
                        state changes (e.g., on partial or full close). For futures markets
                        (BTC_PERP and other _PERP pairs), always \"0\" — futures funding is
                        applied via periodic balance updates, not tracked per position."
                      example: "0.0019142920201966"
              example:
                - positionId: 527
                  market: "BTC_USDT"
                  openDate: 1651568067.789679
                  modifyDate: 1651568067.789679
                  amount: "0.1"
                  basePrice: "45658.349"
                  liquidationPrice: null
                  liquidationState: margin_call
                  pnl: "-168.42"
                  pnlPercent: "-0.43"
                  margin: "8316.74"
                  freeMargin: "619385.67"
                  funding: "0"
                  unrealizedFunding: "0.0019142920201966"
                  tpsl:
                    takeProfitId: 123
                    takeProfit: "50000"
                    stopLossId: 124
                    stopLoss: "35000"
                  positionSide: "LONG"
                - positionId: 528
                  market: "ETH_USDT"
                  openDate: 1651568067.789679
                  modifyDate: 1651568067.789679
                  amount: "0.1"
                  basePrice: "5658.349"
                  liquidationPrice: null
                  liquidationState: margin_call
                  pnl: "-168.42"
                  pnlPercent: "-0.43"
                  margin: "8316.74"
                  freeMargin: "19385.67"
                  funding: "0"
                  unrealizedFunding: "0.0020142920201966"
                  tpsl: null
                  positionSide: "LONG"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/position/close:
    post:
      summary: Close Position
      operationId: closePosition
      description: |
        The endpoint closes an open [collateral](/glossary#balance-collateral) position at the current market price. The system places a market order in the opposite direction to fully close the specified position. Any attached take-profit or stop-loss orders are cancelled automatically.

        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - positionId
                - market
                - request
                - nonce
              properties:
                positionId:
                  type: integer
                  description: "Unique identifier of the position to close. Obtain from the [open positions](/api-reference/collateral-trading/open-positions) endpoint."
                  example: 123
                positionSide:
                  type: string
                  enum: [LONG, SHORT, BOTH]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                  example: "LONG"
                market:
                  type: string
                  description: "Market of the position to close. Example: BTC_USDT"
                  example: "BTC_USDT"
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              positionId: 123
              positionSide: LONG
              market: BTC_USDT
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Position closed
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/positions/history:
    post:
      summary: Positions History
      operationId: getPositionsHistory
      description: |
        The endpoint returns the history of [collateral](/glossary#balance-collateral) position state changes for the authenticated account. Each record represents a position event (open, partial close, full close, or liquidation) and includes the order details that triggered the change. Use the optional `market` and `positionId` parameters to filter results.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. Example: BTC_USDT

                    If not specified, returns position history for all markets.
                  example: "BTC_USDT"
                positionId:
                  type: integer
                  description: "Filter by specific position identifier. If not specified, returns history for all positions."
                  example: 1
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              positionId: 1
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns array of position history
          content:
            application/json:
              schema:
                type: array
                description: Array of position history entries
                items:
                  type: object
                  properties:
                    positionId:
                      type: integer
                      description: Position identifier
                      example: 111
                    market:
                      type: string
                      description: Position market
                      example: "BTC_USDT"
                    openDate:
                      type: number
                      description: Date of position opening in Unix timestamp format
                      example: 1650400589.882613
                    modifyDate:
                      type: number
                      description: Date of position modification (current event) in Unix timestamp format
                      example: 1650400589.882613
                    amount:
                      type: string
                      description: Position amount
                      example: "0.1"
                    basePrice:
                      type: string
                      description: Base price of position
                      example: "45658.349"
                    realizedFunding:
                      type: string
                      description: Funding fee for whole position lifetime till current state
                      example: "0"
                    liquidationPrice:
                      type: string
                      description: Liquidation price according to current state of position
                      nullable: true
                      example: null
                    liquidationState:
                      type: string
                      description: State of liquidation
                      enum: [margin_call, liquidation]
                      nullable: true
                      example: null
                    orderDetail:
                      type: object
                      description: Details of order which changes position
                      properties:
                        id:
                          type: integer
                          description: Order identifier
                          example: 97067934
                        tradeAmount:
                          type: string
                          description: Trade amount of order
                          example: "0.1"
                        price:
                          type: string
                          description: Order price
                          example: "41507.59"
                        tradeFee:
                          type: string
                          description: Order trade fee
                          example: "415.07"
                        fundingFee:
                          type: string
                          description: Funding fee captured by this position change
                          nullable: true
                          example: null
                        realizedPnl:
                          type: string
                          description: Realized profit and loss
                          nullable: true
                          example: null
                    positionSide:
                      type: string
                      description: Position side
                      enum: [LONG, SHORT, BOTH]
                      example: "LONG"
              example:
                - positionId: 111
                  market: "BTC_USDT"
                  openDate: 1650400589.882613
                  modifyDate: 1650400589.882613
                  amount: "0.1"
                  basePrice: "45658.349"
                  realizedFunding: "0"
                  liquidationPrice: null
                  liquidationState: margin_call
                  orderDetail:
                    id: 97067934
                    tradeAmount: "0.1"
                    price: "41507.59"
                    tradeFee: "415.07"
                    fundingFee: null
                    realizedPnl: null
                  positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/funding-history:
    post:
      summary: Funding History
      operationId: getFundingHistory
      description: |
        The endpoint returns the funding rate payment history for [collateral](/glossary#balance-collateral) positions. Each record includes the funding rate, settlement price, position amount, and the resulting funding payment. Use the optional `market` parameter to filter results to a single trading pair. The response supports pagination via `limit` and `offset` parameters.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>

        <Note>
        This endpoint supports pagination. Use `limit` (default: 100) and `offset` (default: 0) to page through results.
        </Note>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. For example: BTC_PERP

                    If not specified, returns funding history for all markets.
                  example: BTC_PERP
                limit:
                  type: integer
                  description: Number of records to return
                  example: 100
                  default: 100
                offset:
                  type: integer
                  description: Number of records to skip
                  example: 0
                  default: 0
                request:
                  type: string
                  description: Request signature
                  example: "{{request}}"
                nonce:
                  type: string
                  description: Unique request identifier
                  example: "{{nonce}}"
            example:
              market: "BTC_PERP"
              limit: 100
              offset: 0
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns paginated funding history
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    description: Array of funding history entries
                    items:
                      type: object
                      properties:
                        market:
                          type: string
                          description: Market name
                          example: "BTC_PERP"
                        fundingTime:
                          type: string
                          description: Funding time in Unix timestamp format
                          example: "1734451200"
                        fundingRate:
                          type: string
                          description: Funding rate applied
                          example: "0.00017674"
                        fundingAmount:
                          type: string
                          description: Funding amount paid or received
                          example: "-0.171053531892"
                        positionAmount:
                          type: string
                          description: Position amount at funding time
                          example: "0.019"
                        settlementPrice:
                          type: string
                          description: Settlement price used for funding calculation
                          example: "50938.2"
                        rateCalculatedTime:
                          type: string
                          description: Time when the funding rate was calculated in Unix timestamp format
                          example: "1734364800"
                  limit:
                    type: integer
                    description: Number of records per page
                    example: 100
                  offset:
                    type: integer
                    description: Number of records skipped
                    example: 0
              example:
                records:
                  - market: "BTC_PERP"
                    fundingTime: "1734451200"
                    fundingRate: "0.00017674"
                    fundingAmount: "-0.171053531892"
                    positionAmount: "0.019"
                    settlementPrice: "50938.2"
                    rateCalculatedTime: "1734364800"
                  - market: "BTC_PERP"
                    fundingTime: "1734451200"
                    fundingRate: "-0.000177877800093587"
                    fundingAmount: "-0.0054997859133136"
                    positionAmount: "-0.001"
                    settlementPrice: "30918.9"
                    rateCalculatedTime: "1734364800"
                limit: 100
                offset: 0
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/leverage:
    post:
      summary: Change Collateral Account Leverage
      operationId: changeCollateralAccountLeverage
      description: |
        The endpoint changes the leverage level for the [collateral](/glossary#balance-collateral) trading account. Leverage determines the ratio of borrowed funds to collateral and directly affects margin requirements and liquidation thresholds. The accepted range is `1` to `100`.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - leverage
                - request
                - nonce
              properties:
                leverage:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: "Target leverage level. Accepted values range from `1` (no leverage) to `100` (maximum leverage)."
                  example: 5
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              leverage: 5
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - leverage changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  leverage:
                    type: integer
                    description: "Active leverage level for the collateral account after the update, from `1` (no leverage) to `100`"
                    example: 5
              example:
                leverage: 5
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/hedge-mode:
    post:
      summary: Collateral Account Hedge Mode
      operationId: getCollateralHedgeMode
      description: |
        The endpoint returns the current [hedge mode](/glossary#hedge-mode) status for the collateral trading account. When hedge mode is enabled (`true`), the account supports simultaneous long and short positions on the same market. When disabled (`false`), the account operates in one-way mode.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns hedge mode status
          content:
            application/json:
              schema:
                type: object
                properties:
                  hedgeMode:
                    type: boolean
                    description: "Indicates whether hedge mode is active. When `true`, the account supports simultaneous long and short positions on the same market."
                    example: true
              example:
                hedgeMode: true
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/hedge-mode/update:
    post:
      summary: Update Collateral Account Hedge Mode
      operationId: updateHedgeMode
      description: |
        The endpoint enables or disables [hedge mode](/glossary#hedge-mode) for the collateral trading account. When hedge mode is enabled (`true`), the account supports simultaneous long and short positions on the same market. When disabled (`false`), the account operates in one-way mode.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hedgeMode
                - request
                - nonce
              properties:
                hedgeMode:
                  type: boolean
                  description: "Set to `true` to enable hedge mode (simultaneous long and short positions) or `false` to use one-way mode."
                  example: true
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              hedgeMode: true
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - hedge mode updated
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/orders/conditional:
    post:
      summary: Query unexecuted(active) conditional orders
      operationId: getConditionalOrders
      description: |
        The endpoint returns active (unexecuted) conditional orders for the authenticated account. Conditional orders include [OCO](/glossary#one-cancels-the-other-oco) and [OTO](/glossary#one-triggers-the-other-oto) types. The response uses polymorphic structure — each record contains a `type` field (`oco` or `oto`) that determines the record shape. Use the optional `market` parameter to filter results.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. Example: BTC_USDT

                    If not specified, returns conditional orders for all markets.
                  example: "BTC_USDT"
                offset:
                  type: integer
                  description: "Number of records to skip for pagination."
                  default: 0
                  example: 0
                limit:
                  type: integer
                  description: "Maximum number of records to return per page."
                  default: 50
                  example: 100
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              offset: 0
              limit: 100
      responses:
        '200':
          description: Successful response - returns paginated conditional orders (OCO and OTO types)
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    description: Number of records per page
                    example: 100
                  offset:
                    type: integer
                    description: Number of records skipped
                    example: 0
                  total:
                    type: integer
                    description: Total number of records
                    example: 2
                  records:
                    type: array
                    description: Array of conditional orders (can be OCO or OTO type)
                    items:
                      oneOf:
                        - type: object
                          description: OCO type conditional order
                          properties:
                            id:
                              type: integer
                              example: 117703764513
                            type:
                              type: string
                              enum: [oco]
                              example: "oco"
                            stop_loss:
                              type: object
                              properties:
                                order_id:
                                  type: integer
                                  example: 117703764514
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
                            take_profit:
                              type: object
                              properties:
                                order_id:
                                  type: integer
                                  example: 117703764515
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
                        - type: object
                          description: OTO type conditional order
                          properties:
                            id:
                              type: integer
                              example: 29457221
                            type:
                              type: string
                              enum: [oto]
                              example: "oto"
                            stopLossPrice:
                              type: string
                              example: "30000"
                            takeProfitPrice:
                              type: string
                              example: "50000"
                            conditionalOrder:
                              type: object
                              properties:
                                order_id:
                                  type: integer
                                  example: 3686033640
                                client_order_id:
                                  type: string
                                  example: "customId11"
                                market:
                                  type: string
                                  example: "BTC_USDT"
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
              example:
                limit: 100
                offset: 0
                total: 2
                records:
                  - id: 117703764513
                    type: "oco"
                    stop_loss:
                      order_id: 117703764514
                      client_order_id: ""
                      market: "BTC_USDT"
                      side: "buy"
                      type: "stop limit"
                      timestamp: 1594605801.49815
                      deal_money: "0"
                      deal_stock: "0"
                      amount: "2.241379"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "2.241379"
                      deal_fee: "0"
                      post_only: false
                      mtime: 1662478154.941582
                      price: "19928.79"
                      activation_price: "29928.79"
                      activation_condition: "gte"
                      activated: 0
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
                    take_profit:
                      order_id: 117703764515
                      client_order_id: ""
                      market: "BTC_USDT"
                      side: "buy"
                      type: "limit"
                      timestamp: 1662478154.941582
                      deal_money: "0"
                      deal_stock: "0"
                      amount: "0.635709"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "0.635709"
                      deal_fee: "0"
                      post_only: false
                      mtime: 1662478154.941582
                      price: "9928.79"
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
                  - id: 29457221
                    type: "oto"
                    stopLossPrice: "30000"
                    takeProfitPrice: "50000"
                    conditionalOrder:
                      order_id: 3686033640
                      client_order_id: "customId11"
                      market: "BTC_USDT"
                      side: "buy"
                      type: "limit"
                      timestamp: 1594605801.49815
                      deal_money: "0"
                      deal_stock: "0"
                      amount: "2.241379"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "2.241379"
                      deal_fee: "0"
                      price: "40000"
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/orders/oco:
    post:
      summary: Query unexecuted(active) OCO orders
      operationId: getOcoOrders
      description: |
        The endpoint returns active (unexecuted) [OCO](/glossary#one-cancels-the-other-oco) orders for the authenticated account. Each OCO order contains a `stop_loss` and `take_profit` leg. When one leg executes, the system cancels the other automatically. Use the optional `market` parameter to filter results.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>

        <Note>
        This endpoint supports pagination. Use `limit` (default: 50) and `offset` (default: 0) to page through results.
        </Note>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
          PayloadAuth: []
          SignatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. Example: BTC_USDT

                    If not specified, returns OCO orders for all markets.
                  example: "BTC_USDT"
                offset:
                  type: integer
                  description: "Number of records to skip for pagination."
                  default: 0
                  example: 0
                limit:
                  type: integer
                  description: "Maximum number of records to return per page."
                  default: 50
                  example: 100
                request:
                  type: string
                  example: "{{request}}"
                nonce:
                  type: string
                  example: "{{nonce}}"
            example:
              market: BTC_USDT
              offset: 0
              limit: 100
      responses:
        '200':
          description: Successful response - returns array of active OCO orders
          content:
            application/json:
              schema:
                type: array
                description: Array of active OCO orders
                items:
                  type: object
                  properties:
[...]
