openapi: 3.0.3
info:
  title: Private HTTP API V4 - Collateral Trading
  description: |
    WhiteBIT Private HTTP API V4 for collateral/margin trading operations.
    
    Base URL: https://whitebit.com
    
    All endpoints return time in Unix-time format.
    All endpoints return either a JSON object or array.
    For receiving responses from API calls please use http method POST.
    
    Authentication required for all endpoints.
  version: 4.0.0
servers:
  - url: https://whitebit.com
    description: WhiteBIT Global Server
  - url: https://whitebit.eu
    description: WhiteBIT EU Server

paths:
  /api/v4/collateral-account/balance:
    post:
      summary: Collateral Account Balance
      description: |
        The endpoint returns a current [collateral balance](/glossary#balance-collateral).
        
        <Note>
        The API does not cache the response.
        </Note>
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
        
        <Accordion title="Errors">
        ```json
        {
          "code": 30,
          "message": "Validation failed",
          "errors": {
            "ticker": ["ticker is invalid."]
          }
        }
        ```
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticker:
                  type: string
                  description: |
                    [Asset](/glossary#assets) to be filtered. For example: BTC
                    
                    If not specified, returns balances for all assets.
                  example: BTC
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
      responses:
        '200':
          description: Successful response - returns collateral balances by asset
          content:
            application/json:
              schema:
                type: object
                description: Object with asset tickers as keys and balance amounts as values
                additionalProperties:
                  type: number
                  description: Balance amount for the asset
              example:
                BTC: 1
                USDT: 1000
                ETH: 5.5
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/balance-summary:
    post:
      summary: Collateral Account Balance Summary
      description: |
        The endpoint retrieves collateral account balance summary with detailed breakdown per asset.
        
        <Note>
        The API does not cache the response.
        </Note>
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
        
        <Accordion title="Errors">
        ```json
        {
          "code": 30,
          "message": "Validation failed",
          "errors": {
            "ticker": ["ticker is invalid."]
          }
        }
        ```
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticker:
                  type: string
                  description: |
                    Filter by requested asset. For example: BTC
                    
                    If not specified, returns summary for all assets.
                  example: BTC
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
      responses:
        '200':
          description: Successful response - returns detailed balance information per asset
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    asset:
                      type: string
                      description: Asset ticker symbol
                      example: BTC
                    balance:
                      type: string
                      description: Current balance amount
                      example: "0.5"
                    borrow:
                      type: string
                      description: Amount currently borrowed
                      example: "0"
                    availableWithoutBorrow:
                      type: string
                      description: Available balance without using borrow
                      example: "0.5"
                    availableWithBorrow:
                      type: string
                      description: Available balance including borrowing capacity
                      example: "123.456"
              example:
                - asset: "BTC"
                  balance: "0.5"
                  borrow: "0"
                  availableWithoutBorrow: "0.5"
                  availableWithBorrow: "123.456"
                - asset: "USDT"
                  balance: "1000"
                  borrow: "0"
                  availableWithoutBorrow: "1000"
                  availableWithBorrow: "5000"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/limit:
    post:
      summary: Collateral Limit Order
      description: |
        The endpoint creates [limit order](/glossary#limit-order) using [collateral balance](/glossary#balance-collateral).
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
        
        <Note>
        For open long position use **buy**, for short **sell**. To close current position, place opposite order with current position amount.
        </Note>

        <Note>
          - RPI orders are post-only by design and cannot be used with the IOC flag. The API returns error code `37` when both `rpi=true` and `ioc=true` are used.
        </Note>

        
        <Accordion title="Error Codes">
          - `30` - default validation error code
          - `31` - market validation failed
          - `32` - amount validation failed
          - `33` - price validation failed
          - `36` - clientOrderId validation failed
          - `37` - `ioc=true` cannot be used with `postOnly=true` or `rpi=true`
        </Accordion>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - price
                - request
                - nonce
              properties:
                market:
                  type: string
                  description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                side:
                  type: string
                  enum: [buy, sell]
                  description: "Order type. Variables: 'buy' / 'sell'. For open long position use **buy**, for short **sell**."
                amount:
                  type: string
                  description: "Amount of [stock](/glossary#stock) currency to buy or sell."
                price:
                  type: string
                  description: "Price in [money](/glossary#money) currency. Example: '9800'"
                clientOrderId:
                  type: string
                  description: "Identifier should be unique and contain letters, dashes, numbers, dots or underscores."
                stopLoss:
                  type: string
                  description: |
                    Stop loss price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                takeProfit:
                  type: string
                  description: |
                    Take profit price.

                    When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                postOnly:
                  type: boolean
                  description: "Orders are guaranteed to be the [maker](/glossary#maker) order when [executed](/glossary#finished-orders)."
                ioc:
                  type: boolean
                  description: "An immediate or cancel order (IOC) is an order that attempts to execute all or part immediately and then cancels any unfilled portion."
                rpi:
                  type: boolean
                  description: |
                    Enables Retail Price Improvement (RPI) mode.

                    RPI orders are post-only by design and cannot be used with `ioc=true`. The API returns error code `37` when both `rpi=true` and `ioc=true` are used.
                  example: true
                positionSide:
                  type: string
                  enum: [long, short, both]
                  description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  clientOrderId:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "buy"
                  type:
                    type: string
                    description: Order type
                    example: "limit"
                  timestamp:
                    type: number
                    description: Timestamp of order creation in Unix format
                    example: 1595792396.165973
                  dealMoney:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  dealStock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.01"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  dealFee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  price:
                    type: string
                    description: Order price
                    example: "40000"
                  postOnly:
                    type: boolean
                    description: Post-only flag
                    example: false
                  ioc:
                    type: boolean
                    description: Immediate or cancel flag
                    example: false
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "30000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "50000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
                  rpi:
                    type: boolean
                    description: Retail Price Improvement flag
                    example: true
              example:
                orderId: 4180284841
                clientOrderId: "order1987111"
                market: "BTC_USDT"
                side: "buy"
                type: "limit"
                timestamp: 1595792396.165973
                dealMoney: "0"
                dealStock: "0"
                amount: "0.01"
                left: "0.001"
                dealFee: "0"
                price: "40000"
                postOnly: false
                ioc: false
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "30000"
                  takeProfit: "50000"
                positionSide: "LONG"
                rpi: true
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/bulk:
    post:
      summary: Collateral bulk limit order
      description: |
        The endpoint creates multiple collateral limit orders.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  items:
                    type: object
                    properties:
                      market:
                        type: string
                        description: "Available margin [market](/glossary#market). Example: BTC_USDT"
                      side:
                        type: string
                        enum: [buy, sell]
                        description: "Order type. Variables: 'buy' / 'sell'."
                      amount:
                        type: string
                        description: "Amount of [stock](/glossary#stock) currency to buy or sell."
                      price:
                        type: string
                        description: "Price in [money](/glossary#money) currency."
                      clientOrderId:
                        type: string
                        description: "Identifier must be unique and contain letters, numbers, dashes, dots, or underscores."
                      stopLoss:
                        type: string
                        description: |
                          Stop loss price.

                          When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a stop loss condition.
                      takeProfit:
                        type: string
                        description: |
                          Take profit price.

                          When provided, the system creates an [OTO](/glossary#one-triggers-the-other-oto) order with a take profit condition.
                      postOnly:
                        type: boolean
                        description: "Ensures the order adds liquidity and executes as maker."
                      ioc:
                        type: boolean
                        description: |
                          Immediate-or-cancel (IOC) executes all or part of an order immediately and cancels any unfilled portion.

                          IOC does not support `rpi=true` because RPI uses post-only behavior by design.
                          The API returns error code `37` when an order item sets both `ioc=true` and `rpi=true`.
                      rpi:
                        type: boolean
                        description: |
                          Enables Retail Price Improvement (RPI) mode.

                          RPI orders use post-only behavior by design. An RPI order does not support `ioc=true`.
                          The API returns error code `37` when an order item sets both `rpi=true` and `ioc=true`.
                        example: true
                      positionSide:
                        type: string
                        enum: [long, short, both]
                        description: "Defines the position direction when hedge mode is enabled. See [positionSide](/glossary#position-side)"
                stopOnFail:
                  type: boolean
                  default: false
                  description: |
                    Controls how the bulk order processor handles failures.

                    When true: Processing stops at the first order that fails validation or execution. Only orders up to (but not including) the failed order are processed.

                    When false (default): All orders in the bulk request are processed regardless of individual failures. Each order result is returned in the response array.
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns array of order results
          content:
            application/json:
              schema:
                type: array
                description: Array of order creation results. Each item contains either a successful result or an error.
                items:
                  type: object
                  properties:
                    result:
                      type: object
                      nullable: true
                      description: Order data when successful, null when failed
                      properties:
                        orderId:
                          type: integer
                          description: Unique order identifier
                          example: 4326248250
                        clientOrderId:
                          type: string
                          description: Custom client order identifier. Empty string if not specified
                          example: ""
                        market:
                          type: string
                          description: Market name
                          example: "BTC_USDT"
                        side:
                          type: string
                          description: Order side
                          enum: [buy, sell]
                          example: "buy"
                        type:
                          type: string
                          description: Order type
                          example: "limit"
                        timestamp:
                          type: number
                          description: Timestamp of order creation in Unix format
                          example: 1684916268.825564
                        dealMoney:
                          type: string
                          description: Amount in money currency that is finished
                          example: "641.988"
                        dealStock:
                          type: string
                          description: Amount in stock currency that is finished
                          example: "0.02"
                        amount:
                          type: string
                          description: Order amount
                          example: "0.02"
                        left:
                          type: string
                          description: Remaining amount that must be finished
                          example: "0"
                        dealFee:
                          type: string
                          description: Fee in money that is paid when order is finished
                          example: "1.283976"
                        price:
                          type: string
                          description: Order price
                          example: "40000"
                        postOnly:
                          type: boolean
                          description: Post-only flag
                          example: false
                        ioc:
                          type: boolean
                          description: Immediate or cancel flag
                          example: false
                        status:
                          type: string
                          description: Order status
                          enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                          example: "FILLED"
                        stp:
                          type: string
                          description: Self trade prevention mode
                          example: "no"
                        positionSide:
                          type: string
                          description: Position side
                          enum: [LONG, SHORT, BOTH]
                          example: "LONG"
                        rpi:
                          type: boolean
                          description: Retail Price Improvement flag
                          example: true
                    error:
                      type: object
                      nullable: true
                      description: Error details when order creation failed, null when successful
                      properties:
                        code:
                          type: integer
                          description: Error code
                          example: 32
                        message:
                          type: string
                          description: Error message
                          example: "Validation failed"
                        errors:
                          type: object
                          description: Detailed validation errors
                          additionalProperties:
                            type: array
                            items:
                              type: string
                          example:
                            amount: ["Given amount is less than min amount 0.001."]
              example:
                - result:
                    orderId: 4326248250
                    clientOrderId: ""
                    market: "BTC_USDT"
                    side: "buy"
                    type: "limit"
                    timestamp: 1684916268.825564
                    dealMoney: "641.988"
                    dealStock: "0.02"
                    amount: "0.02"
                    left: "0"
                    dealFee: "1.283976"
                    ioc: false
                    postOnly: false
                    price: "40000"
                    status: "FILLED"
                    stp: "no"
                    positionSide: "LONG"
                    rpi: true
                  error: null
                - result: null
                  error:
                    code: 32
                    message: "Validation failed"
                    errors:
                      amount: ["Given amount is less than min amount 0.001."]
                - result:
                    orderId: 4326248250
                    clientOrderId: ""
                    market: "BTC_USDT"
                    side: "sell"
                    type: "limit"
                    timestamp: 1684916268.825564
                    dealMoney: "641.988"
                    dealStock: "0.02"
                    amount: "0.02"
                    left: "0"
                    dealFee: "1.283976"
                    ioc: false
                    postOnly: false
                    price: "41000"
                    status: "FILLED"
                    stp: "no"
                    positionSide: "LONG"
                    rpi: true
                  error: null
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/market:
    post:
      summary: Collateral Market Order
      description: |
        The endpoint creates a collateral market order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - request
                - nonce
              properties:
                market:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                amount:
                  type: string
                clientOrderId:
                  type: string
                stopLoss:
                  type: string
                takeProfit:
                  type: string
                positionSide:
                  type: string
                  enum: [long, short]
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - market order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  clientOrderId:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "sell"
                  type:
                    type: string
                    description: Order type
                    example: "market"
                  timestamp:
                    type: number
                    description: Timestamp of order creation in Unix format
                    example: 1595792396.165973
                  dealMoney:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  dealStock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  dealFee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "50000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "40000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                orderId: 4180284841
                clientOrderId: "order1987111"
                market: "BTC_USDT"
                side: "sell"
                type: "market"
                timestamp: 1595792396.165973
                dealMoney: "0"
                dealStock: "0"
                amount: "0.001"
                left: "0.001"
                dealFee: "0"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "50000"
                  takeProfit: "40000"
                positionSide: "LONG"
        '422':
          description: Internal validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/stop-limit:
    post:
      summary: Collateral Stop-Limit Order
      description: |
        The endpoint creates a collateral stop-limit order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - price
                - activation_price
                - request
                - nonce
              properties:
                market:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                amount:
                  type: string
                price:
                  type: string
                activation_price:
                  type: string
                stopLoss:
                  type: string
                takeProfit:
                  type: string
                clientOrderId:
                  type: string
                positionSide:
                  type: string
                  enum: [long, short]
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - stop-limit order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  clientOrderId:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "buy"
                  type:
                    type: string
                    description: Order type
                    example: "stop limit"
                  timestamp:
                    type: number
                    description: Timestamp of order creation in Unix format
                    example: 1595792396.165973
                  dealMoney:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  dealStock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  dealFee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  price:
                    type: string
                    description: Order price
                    example: "40000"
                  activation_price:
                    type: string
                    description: Price at which the stop-limit order activates
                    example: "40000"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "30000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "50000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                orderId: 4180284841
                clientOrderId: "order1987111"
                market: "BTC_USDT"
                side: "buy"
                type: "stop limit"
                timestamp: 1595792396.165973
                dealMoney: "0"
                dealStock: "0"
                amount: "0.001"
                left: "0.001"
                dealFee: "0"
                price: "40000"
                activation_price: "40000"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "30000"
                  takeProfit: "50000"
                positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/trigger-market:
    post:
      summary: Collateral Trigger Market Order
      description: |
        The endpoint creates a collateral trigger market order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - activation_price
                - request
                - nonce
              properties:
                market:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                amount:
                  type: string
                activation_price:
                  type: string
                clientOrderId:
                  type: string
                stopLoss:
                  type: string
                takeProfit:
                  type: string
                positionSide:
                  type: string
                  enum: [long, short]
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - trigger market order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    description: Unique order identifier
                    example: 4180284841
                  clientOrderId:
                    type: string
                    description: Custom client order identifier. Empty string if not specified
                    example: "order1987111"
                  market:
                    type: string
                    description: Market name
                    example: "BTC_USDT"
                  side:
                    type: string
                    description: Order side
                    enum: [buy, sell]
                    example: "sell"
                  type:
                    type: string
                    description: Order type
                    example: "stop market"
                  timestamp:
                    type: number
                    description: Timestamp of order creation in Unix format
                    example: 1595792396.165973
                  dealMoney:
                    type: string
                    description: Amount in money currency that is finished
                    example: "0"
                  dealStock:
                    type: string
                    description: Amount in stock currency that is finished
                    example: "0"
                  amount:
                    type: string
                    description: Order amount
                    example: "0.001"
                  left:
                    type: string
                    description: Remaining amount that must be finished
                    example: "0.001"
                  dealFee:
                    type: string
                    description: Fee in money that is paid when order is finished
                    example: "0"
                  activation_price:
                    type: string
                    description: Price at which the stop market order activates
                    example: "40000"
                  status:
                    type: string
                    description: Order status
                    enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                    example: "FILLED"
                  stp:
                    type: string
                    description: Self trade prevention mode
                    example: "no"
                  oto:
                    type: object
                    description: OTO order data when stopLoss or takeProfit is specified
                    nullable: true
                    properties:
                      otoId:
                        type: integer
                        description: OTO order identifier
                        example: 29457221
                      stopLoss:
                        type: string
                        description: Stop loss order price
                        example: "50000"
                      takeProfit:
                        type: string
                        description: Take profit order price
                        example: "30000"
                  positionSide:
                    type: string
                    description: Position side
                    enum: [LONG, SHORT, BOTH]
                    example: "LONG"
              example:
                orderId: 4180284841
                clientOrderId: "order1987111"
                market: "BTC_USDT"
                side: "sell"
                type: "stop market"
                timestamp: 1595792396.165973
                dealMoney: "0"
                dealStock: "0"
                amount: "0.001"
                left: "0.001"
                dealFee: "0"
                activation_price: "40000"
                status: "FILLED"
                stp: "no"
                oto:
                  otoId: 29457221
                  stopLoss: "50000"
                  takeProfit: "30000"
                positionSide: "LONG"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/summary:
    post:
      summary: Collateral Account Summary
      description: |
        The endpoint retrieves collateral account summary.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns collateral account summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  equity:
                    type: string
                    description: Total equity value of the collateral account
                    example: "15000.50"
                  margin:
                    type: string
                    description: Total margin used
                    example: "5000.00"
                  freeMargin:
                    type: string
                    description: Available margin for trading
                    example: "10000.50"
                  unrealizedFunding:
                    type: string
                    description: Unrealized funding payments
                    example: "25.75"
                  pnl:
                    type: string
                    description: Unrealized profit and loss
                    example: "150.25"
                  leverage:
                    type: integer
                    description: Current leverage level
                    example: 3
                  marginFraction:
                    type: string
                    description: Margin fraction ratio (margin / equity)
                    example: "0.3333"
              example:
                equity: "15000.50"
                margin: "5000.00"
                freeMargin: "10000.50"
                unrealizedFunding: "25.75"
                pnl: "150.25"
                leverage: 3
                marginFraction: "0.3333"
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/positions:
    post:
      summary: Open Positions
      description: |
        The endpoint retrieves open positions.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. For example: BTC_USDT

                    If not specified, returns all open positions.
                  example: BTC_USDT
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              market: "BTC_USDT"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns array of open positions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    positionId:
                      type: integer
                      description: Unique position identifier
                      example: 527
                    market:
                      type: string
                      description: Market name
                      example: "BTC_USDT"
                    amount:
                      type: string
                      description: Position amount
                      example: "0.1"
                    basePrice:
                      type: string
                      description: Base price of position
                      example: "45658.349"
                    liqPrice:
                      type: string
                      description: Liquidation price according to current state of position
                      example: "40000.00"
                      nullable: true
                    pnl:
                      type: string
                      description: Unrealized profit and loss in money
                      example: "-168.42"
                    pnlPercent:
                      type: string
                      description: Unrealized profit and loss in percentage
                      example: "-0.43"
                    margin:
                      type: string
                      description: Amount of funds in open position money
                      example: "8316.74"
                    freeMargin:
                      type: string
                      description: Free funds for trading
                      example: "619385.67"
                    funding:
                      type: string
                      description: Funding that will be paid on next position stage change
                      example: "0"
                    unrealizedPnl:
                      type: string
                      description: Unrealized profit and loss
                      example: "0.0019142920201966"
                    positionSide:
                      type: string
                      description: Position side
                      enum: [LONG, SHORT, BOTH]
                      example: "LONG"
                    openDate:
                      type: number
                      description: Date of position opening in Unix timestamp format
                      example: 1651568067.789679
                    modifyDate:
                      type: number
                      description: Date of position modifying (current event) in Unix timestamp format
                      example: 1651568067.789679
                    liquidationPrice:
                      type: string
                      description: Liquidation price according to current state of position
                      nullable: true
                      example: null
                    liquidationState:
                      type: string
                      description: State of liquidation
                      enum: [margin_call, liquidation]
                      nullable: true
                      example: null
                    tpsl:
                      type: object
                      description: Take profit and stop loss configuration
                      nullable: true
                      properties:
                        takeProfitId:
                          type: integer
                          description: Take profit order ID
                          example: 123
                        takeProfit:
                          type: string
                          description: Take profit price
                          example: "50000"
                        stopLossId:
                          type: integer
                          description: Stop loss order ID
                          example: 124
                        stopLoss:
                          type: string
                          description: Stop loss price
                          example: "35000"
                    unrealizedFunding:
                      type: string
                      description: Funding that will be paid on next position stage change
                      example: "0.0019142920201966"
              example:
                - positionId: 527
                  market: "BTC_USDT"
                  openDate: 1651568067.789679
                  modifyDate: 1651568067.789679
                  amount: "0.1"
                  basePrice: "45658.349"
                  liquidationPrice: null
                  liquidationState: null
                  pnl: "-168.42"
                  pnlPercent: "-0.43"
                  margin: "8316.74"
                  freeMargin: "619385.67"
                  funding: "0"
                  unrealizedFunding: "0.0019142920201966"
                  tpsl:
                    takeProfitId: 123
                    takeProfit: "50000"
                    stopLossId: 124
                    stopLoss: "35000"
                  positionSide: "LONG"
                - positionId: 528
                  market: "ETH_USDT"
                  openDate: 1651568067.789679
                  modifyDate: 1651568067.789679
                  amount: "0.1"
                  basePrice: "5658.349"
                  liquidationPrice: null
                  liquidationState: null
                  pnl: "-168.42"
                  pnlPercent: "-0.43"
                  margin: "8316.74"
                  freeMargin: "19385.67"
                  funding: "0"
                  unrealizedFunding: "0.0020142920201966"
                  tpsl: null
                  positionSide: "LONG"
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/position/close:
    post:
      summary: Close Position
      description: |
        The endpoint closes a position.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - positionId
                - market
                - request
                - nonce
              properties:
                positionId:
                  type: integer
                positionSide:
                  type: string
                  enum: [long, short]
                market:
                  type: string
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Position closed
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/positions/history:
    post:
      summary: Positions History
      description: |
        The endpoint retrieves positions history.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                positionId:
                  type: integer
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns array of position history
          content:
            application/json:
              schema:
                type: array
                description: Array of position history entries
                items:
                  type: object
                  properties:
                    positionId:
                      type: integer
                      description: Position identifier
                      example: 111
                    market:
                      type: string
                      description: Position market
                      example: "BTC_USDT"
                    openDate:
                      type: number
                      description: Date of position opening in Unix timestamp format
                      example: 1650400589.882613
                    modifyDate:
                      type: number
                      description: Date of position modification (current event) in Unix timestamp format
                      example: 1650400589.882613
                    amount:
                      type: string
                      description: Position amount
                      example: "0.1"
                    basePrice:
                      type: string
                      description: Base price of position
                      example: "45658.349"
                    realizedFunding:
                      type: string
                      description: Funding fee for whole position lifetime till current state
                      example: "0"
                    liquidationPrice:
                      type: string
                      description: Liquidation price according to current state of position
                      nullable: true
                      example: null
                    liquidationState:
                      type: string
                      description: State of liquidation
                      enum: [margin_call, liquidation]
                      nullable: true
                      example: null
                    orderDetail:
                      type: object
                      description: Details of order which changes position
                      properties:
                        id:
                          type: integer
                          description: Order identifier
                          example: 97067934
                        tradeAmount:
                          type: string
                          description: Trade amount of order
                          example: "0.1"
                        price:
                          type: string
                          description: Order price
                          example: "41507.59"
                        tradeFee:
                          type: string
                          description: Order trade fee
                          example: "415.07"
                        fundingFee:
                          type: string
                          description: Funding fee captured by this position change
                          nullable: true
                          example: null
                        realizedPnl:
                          type: string
                          description: Realized profit and loss
                          nullable: true
                          example: null
                    positionSide:
                      type: string
                      description: Position side
                      enum: [LONG, SHORT, BOTH]
                      example: "LONG"
              example:
                - positionId: 111
                  market: "BTC_USDT"
                  openDate: 1650400589.882613
                  modifyDate: 1650400589.882613
                  amount: "0.1"
                  basePrice: "45658.349"
                  realizedFunding: "0"
                  liquidationPrice: null
                  liquidationState: null
                  orderDetail:
                    id: 97067934
                    tradeAmount: "0.1"
                    price: "41507.59"
                    tradeFee: "415.07"
                    fundingFee: null
                    realizedPnl: null
                  positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/funding-history:
    post:
      summary: Funding History
      description: |
        The endpoint retrieves funding history.

        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                  description: |
                    Filter by specific market. For example: BTC_PERP

                    If not specified, returns funding history for all markets.
                  example: BTC_PERP
                limit:
                  type: integer
                  description: Number of records to return
                  example: 100
                  default: 100
                offset:
                  type: integer
                  description: Number of records to skip
                  example: 0
                  default: 0
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              market: "BTC_PERP"
              limit: 100
              offset: 0
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        '200':
          description: Successful response - returns paginated funding history
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    description: Array of funding history entries
                    items:
                      type: object
                      properties:
                        market:
                          type: string
                          description: Market name
                          example: "BTC_PERP"
                        fundingTime:
                          type: string
                          description: Funding time in Unix timestamp format
                          example: "1734451200"
                        fundingRate:
                          type: string
                          description: Funding rate applied
                          example: "0.00017674"
                        fundingAmount:
                          type: string
                          description: Funding amount paid or received
                          example: "-0.171053531892"
                        positionAmount:
                          type: string
                          description: Position amount at funding time
                          example: "0.019"
                        settlementPrice:
                          type: string
                          description: Settlement price used for funding calculation
                          example: "50938.2"
                        rateCalculatedTime:
                          type: string
                          description: Time when the funding rate was calculated in Unix timestamp format
                          example: "1734364800"
                  limit:
                    type: integer
                    description: Number of records per page
                    example: 100
                  offset:
                    type: integer
                    description: Number of records skipped
                    example: 0
              example:
                records:
                  - market: "BTC_PERP"
                    fundingTime: "1734451200"
                    fundingRate: "0.00017674"
                    fundingAmount: "-0.171053531892"
                    positionAmount: "0.019"
                    settlementPrice: "50938.2"
                    rateCalculatedTime: "1734364800"
                  - market: "BTC_PERP"
                    fundingTime: "1734451200"
                    fundingRate: "-0.000177877800093587"
                    fundingAmount: "-0.0054997859133136"
                    positionAmount: "-0.001"
                    settlementPrice: "30918.9"
                    rateCalculatedTime: "1734364800"
                limit: 100
                offset: 0
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/leverage:
    post:
      summary: Change Collateral Account Leverage
      description: |
        The endpoint changes account leverage.
        
        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - leverage
                - request
                - nonce
              properties:
                leverage:
                  type: integer
                  minimum: 1
                  maximum: 100
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - leverage changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  leverage:
                    type: integer
                    description: Current collateral balance leverage
                    example: 5
              example:
                leverage: 5
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/hedge-mode:
    post:
      summary: Collateral Account Hedge Mode
      description: |
        The endpoint retrieves hedge mode status.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns hedge mode status
          content:
            application/json:
              schema:
                type: object
                properties:
                  hedgeMode:
                    type: boolean
                    description: Current hedge mode status
                    example: true
              example:
                hedgeMode: true
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/collateral-account/hedge-mode/update:
    post:
      summary: Update Collateral Account Hedge Mode
      description: |
        The endpoint updates hedge mode.
        
        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hedgeMode
                - request
                - nonce
              properties:
                hedgeMode:
                  type: boolean
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - hedge mode updated
        '422':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
        '503':
          description: Service temporarily unavailable

  /api/v4/orders/conditional:
    post:
      summary: Query unexecuted(active) conditional orders
      description: |
        The endpoint retrieves active conditional orders.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                offset:
                  type: integer
                  default: 0
                limit:
                  type: integer
                  default: 50
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns paginated conditional orders (OCO and OTO types)
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    description: Number of records per page
                    example: 100
                  offset:
                    type: integer
                    description: Number of records skipped
                    example: 0
                  total:
                    type: integer
                    description: Total number of records
                    example: 2
                  records:
                    type: array
                    description: Array of conditional orders (can be OCO or OTO type)
                    items:
                      oneOf:
                        - type: object
                          description: OCO type conditional order
                          properties:
                            id:
                              type: integer
                              example: 117703764513
                            type:
                              type: string
                              enum: [oco]
                              example: "oco"
                            stop_loss:
                              type: object
                              properties:
                                orderId:
                                  type: integer
                                  example: 117703764514
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
                            take_profit:
                              type: object
                              properties:
                                orderId:
                                  type: integer
                                  example: 117703764515
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
                        - type: object
                          description: OTO type conditional order
                          properties:
                            id:
                              type: integer
                              example: 29457221
                            type:
                              type: string
                              enum: [oto]
                              example: "oto"
                            stopLossPrice:
                              type: string
                              example: "30000"
                            takeProfitPrice:
                              type: string
                              example: "50000"
                            conditionalOrder:
                              type: object
                              properties:
                                orderId:
                                  type: integer
                                  example: 3686033640
                                clientOrderId:
                                  type: string
                                  example: "customId11"
                                market:
                                  type: string
                                  example: "BTC_USDT"
                                positionSide:
                                  type: string
                                  enum: [LONG, SHORT, BOTH]
                                  example: "LONG"
              example:
                limit: 100
                offset: 0
                total: 2
                records:
                  - id: 117703764513
                    type: "oco"
                    stop_loss:
                      orderId: 117703764514
                      clientOrderId: ""
                      market: "BTC_USDT"
                      side: "buy"
                      type: "stop limit"
                      timestamp: 1594605801.49815
                      dealMoney: "0"
                      dealStock: "0"
                      amount: "2.241379"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "2.241379"
                      dealFee: "0"
                      post_only: false
                      mtime: 1662478154.941582
                      price: "19928.79"
                      activation_price: "29928.79"
                      activation_condition: "gte"
                      activated: 0
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
                    take_profit:
                      orderId: 117703764515
                      clientOrderId: ""
                      market: "BTC_USDT"
                      side: "buy"
                      type: "limit"
                      timestamp: 1662478154.941582
                      dealMoney: "0"
                      dealStock: "0"
                      amount: "0.635709"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "0.635709"
                      dealFee: "0"
                      post_only: false
                      mtime: 1662478154.941582
                      price: "9928.79"
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
                  - id: 29457221
                    type: "oto"
                    stopLossPrice: "30000"
                    takeProfitPrice: "50000"
                    conditionalOrder:
                      orderId: 3686033640
                      clientOrderId: "customId11"
                      market: "BTC_USDT"
                      side: "buy"
                      type: "limit"
                      timestamp: 1594605801.49815
                      dealMoney: "0"
                      dealStock: "0"
                      amount: "2.241379"
                      takerFee: "0.001"
                      makerFee: "0.001"
                      left: "2.241379"
                      dealFee: "0"
                      price: "40000"
                      status: "FILLED"
                      stp: "no"
                      positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/orders/oco:
    post:
      summary: Query unexecuted(active) OCO orders
      description: |
        The endpoint retrieves active OCO orders.
        
        <Warning>
        Rate limit: 12000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market:
                  type: string
                offset:
                  type: integer
                  default: 0
                limit:
                  type: integer
                  default: 50
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - returns array of active OCO orders
          content:
            application/json:
              schema:
                type: array
                description: Array of active OCO orders
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: OCO order identifier
                      example: 117703764513
                    stop_loss:
                      type: object
                      description: Stop loss order details
                      properties:
                        orderId:
                          type: integer
                          example: 117703764514
                        clientOrderId:
                          type: string
                          example: ""
                        market:
                          type: string
                          example: "BTC_USDT"
                        side:
                          type: string
                          enum: [buy, sell]
                          example: "buy"
                        type:
                          type: string
                          example: "stop limit"
                        timestamp:
                          type: number
                          example: 1594605801.49815
                        dealMoney:
                          type: string
                          example: "0"
                        dealStock:
                          type: string
                          example: "0"
                        amount:
                          type: string
                          example: "2.241379"
                        takerFee:
                          type: string
                          example: "0.001"
                        makerFee:
                          type: string
                          example: "0.001"
                        left:
                          type: string
                          example: "2.241379"
                        dealFee:
                          type: string
                          example: "0"
                        post_only:
                          type: boolean
                          example: false
                        mtime:
                          type: number
                          example: 1662478154.941582
                        price:
                          type: string
                          example: "19928.79"
                        activation_price:
                          type: string
                          example: "29928.79"
                        activation_condition:
                          type: string
                          enum: [gte, lte]
                          example: "gte"
                        activated:
                          type: integer
                          example: 0
                        status:
                          type: string
                          example: "FILLED"
                        stp:
                          type: string
                          example: "no"
                    take_profit:
                      type: object
                      description: Take profit order details
                      properties:
                        orderId:
                          type: integer
                          example: 117703764515
                        clientOrderId:
                          type: string
                          example: ""
                        market:
                          type: string
                          example: "BTC_USDT"
                        side:
                          type: string
                          enum: [buy, sell]
                          example: "buy"
                        type:
                          type: string
                          example: "limit"
                        timestamp:
                          type: number
                          example: 1662478154.941582
                        dealMoney:
                          type: string
                          example: "0"
                        dealStock:
                          type: string
                          example: "0"
                        amount:
                          type: string
                          example: "0.635709"
                        takerFee:
                          type: string
                          example: "0.001"
                        makerFee:
                          type: string
                          example: "0.001"
                        left:
                          type: string
                          example: "0.635709"
                        dealFee:
                          type: string
                          example: "0"
                        post_only:
                          type: boolean
                          example: false
                        mtime:
                          type: number
                          example: 1662478154.941582
                        price:
                          type: string
                          example: "9928.79"
                        status:
                          type: string
                          example: "FILLED"
                        stp:
                          type: string
                          example: "no"
              example:
                - id: 117703764513
                  stop_loss:
                    orderId: 117703764514
                    clientOrderId: ""
                    market: "BTC_USDT"
                    side: "buy"
                    type: "stop limit"
                    timestamp: 1594605801.49815
                    dealMoney: "0"
                    dealStock: "0"
                    amount: "2.241379"
                    takerFee: "0.001"
                    makerFee: "0.001"
                    left: "2.241379"
                    dealFee: "0"
                    post_only: false
                    mtime: 1662478154.941582
                    price: "19928.79"
                    activation_price: "29928.79"
                    activation_condition: "gte"
                    activated: 0
                    status: "FILLED"
                    stp: "no"
                  take_profit:
                    orderId: 117703764515
                    clientOrderId: ""
                    market: "BTC_USDT"
                    side: "buy"
                    type: "limit"
                    timestamp: 1662478154.941582
                    dealMoney: "0"
                    dealStock: "0"
                    amount: "0.635709"
                    takerFee: "0.001"
                    makerFee: "0.001"
                    left: "0.635709"
                    dealFee: "0"
                    post_only: false
                    mtime: 1662478154.941582
                    price: "9928.79"
                    status: "FILLED"
                    stp: "no"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/collateral/oco:
    post:
      summary: Create collateral OCO order
      description: |
        The endpoint creates a collateral OCO order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - side
                - amount
                - price
                - activation_price
                - stop_limit_price
                - request
                - nonce
              properties:
                market:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                amount:
                  type: string
                price:
                  type: string
                activation_price:
                  type: string
                stop_limit_price:
                  type: string
                clientOrderId:
                  type: string
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - OCO order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: OCO order identifier
                    example: 117703764513
                  stop_loss:
                    type: object
                    description: Stop loss order details
                    properties:
                      orderId:
                        type: integer
                        description: Order identifier
                        example: 117703764514
                      clientOrderId:
                        type: string
                        description: Custom order identifier. Empty string if not specified
                        example: ""
                      market:
                        type: string
                        description: Market name
                        example: "BTC_USDT"
                      side:
                        type: string
                        description: Order side
                        enum: [buy, sell]
                        example: "buy"
                      type:
                        type: string
                        description: Order type
                        example: "stop limit"
                      timestamp:
                        type: number
                        description: Timestamp of order creation
                        example: 1594605801.49815
                      dealMoney:
                        type: string
                        description: Executed amount in money
                        example: "0"
                      dealStock:
                        type: string
                        description: Executed amount in stock
                        example: "0"
                      amount:
                        type: string
                        description: Order amount
                        example: "2.241379"
                      takerFee:
                        type: string
                        description: Taker fee ratio
                        example: "0.001"
                      makerFee:
                        type: string
                        description: Maker fee ratio
                        example: "0.001"
                      left:
                        type: string
                        description: Unexecuted amount in stock
                        example: "2.241379"
                      dealFee:
                        type: string
                        description: Executed fee by deal
                        example: "0"
                      post_only:
                        type: boolean
                        description: Post-only flag
                        example: false
                      mtime:
                        type: number
                        description: Timestamp of order modification
                        example: 1662478154.941582
                      price:
                        type: string
                        description: Order price
                        example: "19928.79"
                      activation_price:
                        type: string
                        description: Activation price
                        example: "29928.79"
                      activation_condition:
                        type: string
                        description: Activation condition
                        enum: [gte, lte]
                        example: "gte"
                      activated:
                        type: integer
                        description: Activation status (0 - not activated, 1 - activated)
                        example: 0
                      status:
                        type: string
                        description: Order status
                        enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                        example: "FILLED"
                      stp:
                        type: string
                        description: Self trade prevention mode
                        example: "no"
                      positionSide:
                        type: string
                        description: Position side
                        enum: [LONG, SHORT, BOTH]
                        example: "LONG"
                  take_profit:
                    type: object
                    description: Take profit order details
                    properties:
                      orderId:
                        type: integer
                        description: Order identifier
                        example: 117703764515
                      clientOrderId:
                        type: string
                        description: Custom order identifier. Empty string if not specified
                        example: ""
                      market:
                        type: string
                        description: Market name
                        example: "BTC_USDT"
                      side:
                        type: string
                        description: Order side
                        enum: [buy, sell]
                        example: "buy"
                      type:
                        type: string
                        description: Order type
                        example: "limit"
                      timestamp:
                        type: number
                        description: Timestamp of order creation
                        example: 1662478154.941582
                      dealMoney:
                        type: string
                        description: Executed amount in money
                        example: "0"
                      dealStock:
                        type: string
                        description: Executed amount in stock
                        example: "0"
                      amount:
                        type: string
                        description: Order amount
                        example: "0.635709"
                      takerFee:
                        type: string
                        description: Taker fee ratio
                        example: "0.001"
                      makerFee:
                        type: string
                        description: Maker fee ratio
                        example: "0.001"
                      left:
                        type: string
                        description: Unexecuted amount in stock
                        example: "0.635709"
                      dealFee:
                        type: string
                        description: Executed fee by deal
                        example: "0"
                      post_only:
                        type: boolean
                        description: Post-only flag
                        example: false
                      mtime:
                        type: number
                        description: Timestamp of order modification
                        example: 1662478154.941582
                      price:
                        type: string
                        description: Order price
                        example: "9928.79"
                      status:
                        type: string
                        description: Order status
                        enum: [NEW, FILLED, PARTIALLY_FILLED, CANCELLED]
                        example: "FILLED"
                      stp:
                        type: string
                        description: Self trade prevention mode
                        example: "no"
                      positionSide:
                        type: string
                        description: Position side
                        enum: [LONG, SHORT, BOTH]
                        example: "LONG"
              example:
                id: 117703764513
                stop_loss:
                  orderId: 117703764514
                  clientOrderId: ""
                  market: "BTC_USDT"
                  side: "buy"
                  type: "stop limit"
                  timestamp: 1594605801.49815
                  dealMoney: "0"
                  dealStock: "0"
                  amount: "2.241379"
                  takerFee: "0.001"
                  makerFee: "0.001"
                  left: "2.241379"
                  dealFee: "0"
                  post_only: false
                  mtime: 1662478154.941582
                  price: "19928.79"
                  activation_price: "29928.79"
                  activation_condition: "gte"
                  activated: 0
                  status: "FILLED"
                  stp: "no"
                  positionSide: "LONG"
                take_profit:
                  orderId: 117703764515
                  clientOrderId: ""
                  market: "BTC_USDT"
                  side: "buy"
                  type: "limit"
                  timestamp: 1662478154.941582
                  dealMoney: "0"
                  dealStock: "0"
                  amount: "0.635709"
                  takerFee: "0.001"
                  makerFee: "0.001"
                  left: "0.635709"
                  dealFee: "0"
                  post_only: false
                  mtime: 1662478154.941582
                  price: "9928.79"
                  status: "FILLED"
                  stp: "no"
                  positionSide: "LONG"
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/conditional-cancel:
    post:
      summary: Cancel conditional order
      description: |
        The endpoint cancels a conditional order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - id
                - request
                - nonce
              properties:
                market:
                  type: string
                id:
                  type: integer
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Order cancelled
        '400':
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service temporarily unavailable

  /api/v4/order/oco-cancel:
    post:
      summary: Cancel OCO order
      description: |
        The endpoint cancels an OCO order.
        
        <Warning>
        Rate limit: 10000 requests/10 sec.
        </Warning>
      tags:
        - Collateral Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - market
                - orderId
                - request
                - nonce
              properties:
                market:
                  type: string
                orderId:
                  type: integer
                request:
                  type: string
                nonce:
                  type: string
      responses:
        '200':
          description: Successful response - OCO order cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: OCO order identifier
                    example: 117703764513
                  stop_loss:
                    type: object
                    description: Cancelled stop loss order details
                    properties:
                      orderId:
                        type: integer
                        description: Order identifier
                        example: 117703764514
                      clientOrderId:
                        type: string
                        description: Custom order identifier. Empty string if not specified
                        example: ""
                      market:
                        type: string
                        description: Market name
                        example: "BTC_USDT"
                      side:
                        type: string
                        description: Order side
                        enum: [buy, sell]
                        example: "buy"
                      type:
                        type: string
                        description: Order type
                        example: "stop limit"
                      timestamp:
[...]
